vti_encoding:SR|utf8-nl
vti_author:SR|SOTA\\JWGRANT
vti_cachedlinkinfo:VX|
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|12 Apr 1999 23:38:35 -0700
vti_filesize:IR|438
vti_backlinkinfo:VX|builder/contents.asp
vti_cacheddtm:TX|13 Apr 1999 07:38:36 -0000
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|13 Apr 1999 00:05:21 -0700
vti_extenderversion:SR|4.0.2.3406
vti_timelastmodified:TR|12 Apr 1999 23:38:36 -0700
vti_cachedsvcrellinks:VX|
