<STYLE TYPE=""text/css"">
<!--
               {font-family: "Verdana, Arial, Helvetica"}
A.toc          {text-decoration: none; font-weight: normal }
A.toc:hover    {text-decoration: none; font-weight: bold }
TD.hdg         {font-weight: bold; background-color: #ffffff; color: #000000}
TD.item        {font-size: 8pt}"
TD.date        {font-size: 12pt; color: #ffffff; background-color: #006633; font-weight: bold}
-->
</STYLE>
